@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    @apply h-full w-full;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-white antialiased;
  }
}